/*Color Palette
#773344 Red Bean
#F5E9E2 Light Milky Pink
#E3B5A4 Medium Peachy
#D44D5C Bright Cherry
#0B0014 Black Purple
*/



/*Global styles
---------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;    
}
.uppercase{
    text-transform: uppercase;
}
a{
    color: #F5E9E2;
}
a:hover {
    text-decoration: none;
}
h1, h2{
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
    margin-top: 0;
}
h3{
    margin: 0;
}
.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}

.btn{
    text-decoration: none;
    color: #D44D5C;
    background: white;
    padding: 10px;
    display: inline-block;
}
.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 13px;
    background: #F5E9E2;
    color: #773344;
    border: 0.6px solid #773344;
    border-radius: 10px;
  
    
}

/* Header and Footer
---------------------------*/
header, footer{
    background: #773344;
    color: #E3B5A4;
}
/*header*/
header{
    padding-top: 50px;
    position: relative;
}
header h1, header h2 {
    color: #F5E9E2;   
    margin: 0;
}

.profile-img {
    border-radius: 50%;
}
.download{
    position: absolute;
    right: 0;
    bottom: 0;
    
}

/*footer*/
footer{
    text-align: center;
}
footer a{
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    
    
}
.contact-info a{
    padding: 10px;
    display: inline-block;
}
/* nav
--------------------------------*/
nav{
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
   
}
nav a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #773344;
}

/*Work Experience
---------------------------*/
.work {   
    background: linear-gradient(rgba(245, 233, 226, 0.7), rgba(245, 233, 226, 0.5)),
                 url(../images/Van2.jpg) no-repeat fixed; 
    background-size: cover;
}
h3~p {
    margin: 0;
}
.job-description {
    margin-bottom: 25px;
}
.job-description p:first-of-type{
    margin-top: 0;
}

/*Education
---------------------------*/
.education{
    background: #E3B5A4;
}
p+h3{
    margin-top: 30px;
}
/*Media Queries*/
@media (min-width: 900px){
    .col-narrow {
    width: 30%;
    float: left;    
    }
    .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;    
    }
}
@media (max-width: 899px){
    header{
        text-align: center;
    }
    .profile-img{
        width: 200px;
    }
}